.ant-layout-content {
  background-color: #e6effc;
}

.ant-layout-footer {
  background-color: #001529 !important;
  color: #fff !important;
  margin-top: 3px !important;
}

.ant-form-item {
  margin-bottom: 10px !important;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
  color: #1890FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border-radius: 50%;
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}

.content {
  // width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
}

.namesContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  > div {
    width: 265px;
  }
}

// .namesContainer div {
//   width: 265px !important;
// }

.selectsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
