.site_layout {
  width: 100%;
  min-height: 80vh;
  background-color: #e6effc;
  margin-top: 0 !important;
}

.mentorBeige {
  color: #1890FF !important;
  background-color: #334454;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 20%;
  font-family: cursive;
  font-style: italic;
}

.personalInfoContainer {
  margin-right: 90px;
}

.generalInfoContainer {
  max-height: 600px !important;
  min-width: 300px !important;
}