.skill {
  display: inline-block;
  min-width: 70px;
  min-height: 50px;
  max-height: 55px;
  background-color: green;
  margin: 2px 5px 2px 5px;
  color: white;
  padding: 3px;
  border-radius: 50%;
}

.delete {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: green;
  margin: 2px 5px 2px 5px;
  color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
}