.skill {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 70px;
  max-width: 200px;
  height: 40px;
  background-color: #F5F5F5;
  margin: 2px 3px 2px 3px;
  color: #000;
  padding: 3px;
  border-radius: 5px;
}

.delete {
  background: none;
  color: lightgray;
  cursor: pointer;
  border: 0;
  font-size: 20px;
}