.skill {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 70px;
  height: 40px;
  background-color: #E6EFFC;
  margin: 2px 3px 2px 3px;
  color: black;
  padding: 3px;
  border-radius: 5px;
}

.delete {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: darkred;
  margin: 2px 5px 2px 5px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
}