.skill {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  background-color: green;
  margin: 2px 5px 2px 5px;
  color: white;
  padding: 3px 15px;
  border-radius: 50%;
}

.delete {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: green;
  margin: 2px 5px 2px 5px;
  color: darkred;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  font-size: 20px;
}
