@import '../../index.css';

.foot {
    text-align: center;
    background-color: var(--app-main-color) !important;
    color: var(--app-background-color) !important;
    padding-top: 14px;
    padding-bottom: 14px;
}