.ant-input-affix-wrapper-focused {
    border-color: #026670 !important;
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 2px rgb(74,145,183, .2) !important;
    box-shadow: 0 0 0 2px rgb(74,145,183, .2) !important;
    opacity: 50%;
}

.ant-input-affix-wrapper:hover {
    border: 1px solid #026670 !important;
}

.ant-form-item-control-input-content > a {
    text-decoration: underline;
}